:root {
    --codeBackgroundColor: #f8f8f8;
    --inlineCodeBackgroundColor: #f8f8f8;
    --codeBlue: #0000ff;
    --codeGreen: #008000;
    --dividerColor: rgba(0, 0, 0, 0.08);
    --faintFontColor: rgba(0, 0, 0, 0.6);
    --fontColor: #252630;
    --linkColor: #2980b9;
    --mainBackgroundColor: white;
    --mainNavColor: #02a743;
    --notificationBannerColor: #176bb0;
    --searchHighlightColor: #fff150;
    --sidebarColor: white;
    --navbarHeight: 4rem;
}